# Tmp folder
tmp

# Logs
logs
*.log

# Node modules
node_modules

# Bower components
public/bower_components

# ST3 Project
*.sublime-project
*.sublime-workspace

# Sensible information
dev_commands.md

# Global Variables
global_var